# Assignment_1
If you copy codes from previous answers, explain each step. No explanation is `0 points`.

##  Part 1.Data types

a.Declare one variable for each one these types: : int , float , string , boolean.
- Print  the varible's type using  type () function

In [ ]:
5

 b. Using only the following inputs: ```5``` and ```2```  ,  work the  operators to get the output  : ```50```

c. Evaluate if the output of the previous excercise is over 100. Create a variable that makes this evaluation. (Hint: It would be a boolean).

d. Create a variable equal to a list that contains:
- a string,
- a boolean,
- two numeric values ( of any kind)  and
- a  list of two strings with the names of your favourite musical artists.

## Part 2. Containers

e. Create a tuple with 3 elements. Explain why you can't modify it.

f.Create a dictionary with at least 3 different  keys and values .

g.We got the next courses list:

In [ ]:
courses = ["History", "Economy", "Anthropology", "Sociology ", "Literature"]

g.1.Add tree additional courses in 3 different ways( one for each way):
   - Sum (+) a list that contains an additional course.
   - Use append.
   - Use extend.

g.2.Use the indexation to stress _Sociology_.

g.3 Remove your least favourite course

g.4. Invert the list

h.Create a dictionary that representst a fruits inventory:
 - Add at least 5 fruits to the inventory
- Print the amount of apples in stock
- Modify the amount of grapes

i.  Write a dictionary with the local GMT of the nexts cities:
- Antananarivo, Madagascar,
- Beirut, Lebanon,
- Jakarta, Indonesia,
- Teherán, Iran,
- Vientiane, Laos,



Hint: Lima would be: `"Lima": -5`

 j.Add the nexts cities to the dictionary:
- Astana, Kazakhstan,
- Uagadugú, Burkina Faso,
- Balmopan, Belize

# Part 3. Numpy

k.Create an array with 10 aleatory values that go from 0 to 9

l.Create a matrix 3x2 fill with zeros

m.Sum two arrays and then multiply the output by an scalar

n.Create 2 arrays with the values that you wish :
- Concatenate vertically
- Concatenate horizontally